{{ define "main" }}
  <main aria-role="main">
    <header class="post">
      <h1 class="mt-0">{{ .Title }}</h1>
    </header>
    <div class="homepage-content post">
      {{ $dataFile := strings.Replace .Title " " "_" -1 }}
      {{ $data := index .Site.Data.podcasts $dataFile }}
      {{ partial "partials/players.html" (index $data "players") }}
    </div>
    {{ partial "top3blogs.html" . }}
  </main>
{{ end }}

{{- define "partials/players.html" }}
  <div class="pb-0">
    <h2>Players discussed</h2>
    <hr>
    {{ range . }}
      <div class="py-1">
        <h3>{{ index . "web_name" }}</h3>
        {{ range (index . "tags") }}
          <div class="tag {{ . }}">{{ . }}</div>
        {{ end }}
        {{ range (index . "summary") }}
          <div class="py-1">
            <div class="fplquote">{{ index . "text" }}</div>
            <div class="fplquoter">{{ index . "speaker" }}</div>
          </div>
        {{ end }}
      </div>
      <hr>
    {{ end }}
  </div>
{{- end }}
