<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WWM76SQB');</script>
    <!-- End Google Tag Manager -->

    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>
    {{ partialCached "css.html" . }}
    {{ block "canonical" . }}
      <link rel="canonical" href="{{ .Permalink }}"/>
    {{ end }}
  </head>
  <body class="font-titilliumweb">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WWM76SQB"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {{ partial "header.html" . }}
    {{ block "main" . }}
      This should be replaced by every page
    {{ end }}
    {{ partial "footer.html" . }}
    {{- template "_internal/google_analytics.html" . -}}
    {{ partial "subscribe/script.html" . }}
    {{ partial "subscribe/popup.html" . }}
  </body>
</html>
