<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>
    {{ partialCached "css.html" . }}
    {{ block "canonical" . }}
      <link rel="canonical" href="{{ .Permalink }}"/>
    {{ end }}
  </head>
  <body class="font-titilliumweb">
    {{ partial "header.html" . }}
    {{ block "main" . }}
      This should be replaced by every page
    {{ end }}
    {{ block "top3blogs" . }}
    {{ partial "top3blogs.html" . }}
    {{ end }}
    {{ partial "footer.html" . }}
  </body>
</html>
