.blog {
  --blog-items-mt1: 1.75em;
  --blog-items-mt2: 0.75em;
  --blog-items-mt3: 0.5em;
  --list-ml: 30px;
}

.blog > * {
  margin-top: var(--blog-items-mt1);
}

.blog > p > img {
  margin-top: 50px;
  margin-bottom: 5px;
}

.blog > h3 {
  font-size: 24px;
  font-weight: bold;
}

.blog > h3 + * {
  margin-top: var(--blog-items-mt3);
}

.blog > h4 {
  font-size: 20px;
  font-weight: bold;
}

.blog > h4 + * {
  margin-top: var(--blog-items-mt3);
}

.blog > ol {
  list-style-type: decimal;
}

.blog > ul {
  list-style-type: disc;
}

.blog > ol, ul > li:not(:first-child) {
  margin-top: var(--blog-items-mt2);
}

.blog > ol, ul > li {
  margin-left: var(--list-ml);
}

blockquote > p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
  text-decoration: none !important;
}

.caption {
  margin-top: var(--blog-items-mt3) !important;
  color: var(--color-light-gray);
  font-size: 14px;
  text-align: center;
}
