.blog > p {
  margin-top: 1.75em;
}

.blog > p > img {
  margin-top: 50px;
  margin-bottom: 5px;
}

blockquote > p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
  margin-top: 1.75em;
  text-decoration: none !important;
}

.caption {
  margin-top: 0.5em !important;
  color: var(--color-light-gray);
  font-size: 14px;
  text-align: center;
}
