:root {
  --black: #1E1E1E;
  --content-width: 680px;
  --content-padding: 2rem;
  --header-height: 4rem;
  --footer-height: 4rem;
  --content-height: calc(100vh - var(--header-height) - var(--footer-height));
}

body {
  color: var(--black);
  font-weight: normal;
  font-size: 1.1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  max-width: var(--content-width);
  min-width: 550px;
  padding: 0 var(--content-padding);
  margin: auto;
}

.main-header{
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  max-height: var(--header-height);
  margin: auto;
}

.main-footer{
  width: 100%;
  padding: 2rem 0 1rem 0;
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
  max-height: var(--footer-height);
  margin: auto;
}

.blackbox {
  color: white;
  background-color: var(--black);
  width: 100%;
  aspect-ratio: 4 / 3;
  display: flex;
  margin: auto;
  border-radius: 0.2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.greybox {
  background-color: rgba(255, 255, 255, 0.15);
  width: calc(100% - var(--content-padding));
  height: calc(100% - var(--content-padding));
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 1rem;
  padding: 1rem 0;
}

.tv-title {
  font-size: 3rem;
  text-align: center;
}

.tv-items {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.tv-item {
  padding: 0.5rem;
  text-align: left;
}

.tv-item:before {
  content:"→\00a0\00a0";
}

h1 {
  font-size: 2.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h2 {
  font-size: 1.8rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.infobar {
  color: white;
  justify-content: space-evenly;
  background-color: var(--black);
  width: 24rem;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  display: flex;
  margin: 2rem auto 2rem 0;
  border-radius: 0.2rem;
}

.nescontroller {
  color: white;
  justify-content: space-evenly;
  background-color: var(--black);
  width: 24rem;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  display: flex;
  margin: 2rem auto 2rem 0;
  border-radius: 0.2rem;
}

main {
  margin: 0 auto;
  min-height: var(--content-height) !important;
}

a {
  text-decoration: underline;
}
