:root {
  --black: #1E1E1E;
  --content-width: 32rem;
  --header-height: 4rem;
  --footer-height: 4rem;
  --content-height: calc(100vh - var(--header-height) - var(--footer-height));
}

body {
  color: var(--black);
  font-weight: normal;
  font-size: 1.1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.main-header{
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  max-height: var(--header-height);
}

.main-footer{
  width: 100%;
  padding: 2rem 1rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
  max-height: var(--footer-height);
}

.blackbox {
  color: white;
  background-color: var(--black);
  width: var(--content-width);
  height: 22rem;
  display: flex;
  margin: auto;
  border-radius: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.greybox {
  background-color: rgba(255, 255, 255, 0.15);
  width: 30rem;
  height: 20rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}

.tv-title {
  padding-top: 1rem;
  font-size: 2.5rem;
  text-align: center;
}

.tv-items {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-bottom: 1rem;
}

.tv-item {
  padding: 0.5rem;
  text-align: left;
}

.tv-item:before {
  content:"→\00a0\00a0";
}

h1 {
  font-size: 2.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h2 {
  font-size: 1.8rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.columnized {
  width: var(--content-width);
  margin: auto;
}

.infobar {
  color: white;
  justify-content: space-evenly;
  background-color: var(--black);
  width: 24rem;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  display: flex;
  margin: 2rem auto 2rem 0;
  border-radius: 1rem;
}

main {
  width: var(--content-width);
  margin: 0 auto;
  min-height: var(--content-height) !important;
}

a {
  text-decoration: underline;
}
