:root {
  --black: #1E1E1E;
}

body {
  color: var(--black);
}

.blackbox {
  color: white;
  background-color: var(--black);
  width: 32rem;
  height: 24rem;
  display: flex;
  margin: auto;
  border-radius: 2rem;
}

.greybox {
  background-color: rgba(255, 255, 255, 0.15);
  width: 30rem;
  height: 22rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}

.tv-title {
  padding-top: 1.5rem;
  font-size: 2.5rem;
}

.tv-items {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.tv-item {
  padding: 0.5rem;
  text-align: left;
}

.tv-item:before {
  content:"→\00a0\00a0";
}
