@font-face {
  font-family: Quicksand;
  font-display: swap;
  src: url("../fonts/Quicksand-VariableFont_wght.ttf");
}

@font-face {
  font-family: TitilliumWeb;
  font-display: swap;
  src: url("../fonts/TitilliumWeb-Regular.ttf") format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: TitilliumWeb;
  font-display: swap;
  src: url("../fonts/TitilliumWeb-Bold.ttf") format('truetype');
  font-weight: bold;
}
