@font-face {
  font-family: TitilliumWeb;
  font-display: swap;
  src: url("../fonts/TitilliumWeb-Regular.ttf") format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: TitilliumWeb;
  font-display: swap;
  src: url("../fonts/TitilliumWeb-Bold.ttf") format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: OverpassMono;
  font-display: swap;
  src: url("../fonts/OverpassMono-VariableFont_wght.ttf") format('truetype');
}
