:root {
  --color-tag-top: #078923;
  --color-tag-recommended: #002da9;
  --color-tag-avoid: #9e0505;
  --color-tag-budget: #b9af00;
  --color-tag-differential: #f4a701;
}

.tag {
  display: inline;
  border-radius: 8px;
  background-color: var(--color-gray);
  color: var(--color-white);
  padding: 0 6px;
}

.tag.top {
  background-color: var(--color-tag-top);
}
.tag.recommended {
  background-color: var(--color-tag-recommended);
}
.tag.avoid {
  background-color: var(--color-tag-avoid);
}
.tag.budget {
  background-color: var(--color-tag-budget);
}
.tag.differential {
  background-color: var(--color-tag-differential);
}
