.post {
  --elements-mt1: 1.75em;
  --elements-mt2: 0.75em;
  --elements-mt3: 0.5em;
  --list-ml: 30px;
  --color-codeblock-background: var(--color-off-white);

  @media (prefers-color-scheme: dark) {
    --color-codeblock-background: var(--color-off-black);
  }
}

.post > * {
  margin-top: var(--elements-mt1);
}

.post > p > img {
  margin-top: 50px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

.post > h3 {
  font-size: 24px;
  font-weight: bold;
}

.post > h3 + * {
  margin-top: var(--elements-mt3);
}

.post > h4 {
  font-size: 20px;
  font-weight: bold;
}

.post > h4 + * {
  margin-top: var(--elements-mt3);
}

.post > ol {
  list-style-type: decimal;
}

.post > ul {
  list-style-type: disc;
}

.post > ul > li > ul {
  list-style-type: circle;
}

.post > ol > li:not(:first-child) {
  margin-top: var(--elements-mt2);
}

.post > ul > li:not(:first-child) {
  margin-top: var(--elements-mt2);
}

.post > ol, ul > li {
  margin-left: var(--list-ml);
}

.post > p > code {
  padding-top: 4px;
  padding-left: 6px;
  padding-right: 6px;
  background: var(--color-codeblock-background);
  border-radius: 5px;
  font-family: 'OverpassMono';
}

.post > pre {
  padding: 10px 16px;
  background: var(--color-codeblock-background);
  border-radius: 5px;
  font-family: 'OverpassMono';
}

blockquote > p {
  border-left: 10px solid var(--color-primary);
  padding: 15px;
}

.caption {
  margin-top: var(--elements-mt3) !important;
  color: var(--color-light-gray);
  font-size: 14px;
  text-align: center;
}
