<!-- modify this form HTML and place wherever you want your form -->
<form id="my-form" action="https://formspree.io/f/mjkryaqe" method="POST" class="flex flex-col md:flex-row gap-2 items-start md:items-center">
  <input
    type="email"
    name="email"
    placeholder="Type your email..."
    class="px-4 py-2 border border-gray-300 rounded w-full md:w-64"
  />
  <button
    id="my-form-button"
    class="px-4 py-2 bg-[#FF6719] hover:bg-[#FF8142] text-white font-semibold rounded"
  >
    Subscribe
  </button>
  <p id="my-form-status" class="text-sm text-gray-600"></p>
</form>
<div class="mb-8"></div>
