{{ define "main" }}
  <main aria-role="main">
    <div class="homepage-content">
      {{ partial "mytv.html" . }}
      {{ partial "infobar.html" .Site.Params.info }}
      {{ partial "nescontroller.html" .Site.Params.controller }}
      {{ .Content }}
    </div>
    <div>
      {{ range first 10 .Site.RegularPages }}
        {{ .Render "summary" }}
      {{ end }}
    </div>
  </main>
{{ end }}

{{ define "partials/mytv.html"}}
  <div class="blackbox">
    <div class="greybox">
      <div class="tv-title">{{ .Params.activity.title }}</div>
      <div class="tv-items">
        {{ range .Params.activity.list}}
          {{ partial "mytv-items.html" .}}
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}

{{ define "partials/mytv-items.html"}}
  <div class="tv-item">
    {{ . }}
  </div>
{{ end }}

{{ define "partials/infobar.html"}}
  <div class="infobar">
    {{ range . }}
      <a href="{{ .url }}" target="{{ .target }}">
        <img src="{{ .icon | relURL }}" width="26px" height="24px"/>
      </a>
    {{ end }}
  </div>
{{ end }}
