{{ define "main" }}
  <main aria-role="main">
    <div class="homepage-content">
      {{ partial "mytv.html" . }}
      <canvas id="neswire" class="neswire">
      </canvas>
      {{ partial "nescontroller.html" .Site.Params.controller }}
      {{ .Content }}
    </div>
    <div>
      {{ range first 10 .Site.RegularPages }}
        {{ .Render "summary" }}
      {{ end }}
    </div>
    <script>
      const canvas = document.getElementById("neswire");
      const ctx = canvas.getContext("2d");
      ctx.beginPath();
      ctx.moveTo(290, 0);
      ctx.bezierCurveTo(300, 50, 40, 10, 240, 150);
      ctx.stroke();
      </script>
  </main>
{{ end }}

{{ define "partials/mytv.html"}}
  <div class="blackbox">
    <div class="greybox">
      <div class="tv-title">{{ .Params.activity.title }}</div>
      <div class="tv-items">
        {{ range .Params.activity.list}}
          {{ partial "mytv-items.html" .}}
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}

{{ define "partials/mytv-items.html"}}
  <div class="tv-item">
    {{ . }}
  </div>
{{ end }}
