{{ define "main" }}
  <main aria-role="main">
    <div class="homepage-content">
      {{ partial "mytv.html" . }}
      <canvas id="neswire" class="neswire">
      </canvas>
      {{ partial "nescontroller.html" .Site.Params.controller }}
    </div>
    {{ partial "top3blogs.html" . }}
    <script>
      const canvas = document.getElementById("neswire")
      const ctx = canvas.getContext("2d")
      ctx.lineWidth = 10
      ctx.strokeStyle = "#5E5E5E"
      ctx.beginPath()
      ctx.moveTo(150, -5)
      ctx.bezierCurveTo(300, 100, 0, 10, 150, 155)
      ctx.stroke()
    </script>
  </main>
{{ end }}

{{ define "partials/mytv.html"}}
  <div class="bezel">
    <div class="greybox">
      <div>
        <div class="tv-title">{{ .Params.activity.title }}</div>
        <div class="tv-subtitle">{{ .Content }}</div>
      </div>
      <div class="tv-items">
        {{ range .Params.activity.items}}
          {{ partial "mytv-items.html" .}}
        {{ end }}
      </div>
      <div class="flex justify-between px-4 pb-2">
        <div id="mylocation" class="text-sm semi-contrast">{{ $.Site.Data.location.city }}, {{ $.Site.Data.location.country }}</div>
        <div id="mytime" class="text-sm semi-contrast">xxx xx, xxxx, x:xx xx</div>
      </div>
    </div>
  </div>
{{ end }}

{{ define "partials/mytv-items.html"}}
  {{- $itemKey := index . "key" }}
  {{- $itemText := index . "text" }}
  <div id="{{ $itemKey }}" class="tv-item">
    {{ $itemText }}
  </div>
{{ end }}
