<div class="infobar">
  <a href="/work">
    <img src="/icons/briefcase.svg" width="26px" height="24px"/>
  </a>
  <a href="mailto:vipulvpatil@gmail.com">
    <img src="/icons/send.svg" width="26px" height="24px"/>
  </a>
  <a href="http://twitter.com/vipulvpatil" target="_blank">
    <img src="/icons/twitter.svg" width="26px" height="24px"/>
  </a>
  <a href="http://github.com/vipulvpatil" target="_blank">
    <img src="/icons/github.svg" width="26px" height="24px"/>
  </a>
  <a href="http://instagram.com/vipulvpatil" target="_blank">
    <img src="/icons/instagram.svg" width="26px" height="24px"/>
  </a>
  <a href="http://linkedin.com/in/vipulvpatil" target="_blank">
    <img src="/icons/linkedin.svg" width="26px" height="24px"/>
  </a>
</div>
